/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 10, 2016, 3:12:39 PM
    Author     : Oksana_Moroz
*/

.xchart .black_mf.color0 .line {
    stroke: black;
}

.xchart .black_mf.color0 .fill {
    fill: none;
}

.xchart .black_mf.color0 circle {
    fill: black;
}

.xchart .white_mf.color0 .line {
    stroke: red;
}

.xchart .white_mf.color0 circle {
    fill: red;
}
