/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 10, 2016, 3:12:39 PM
    Author     : Oksana_Moroz
*/

.blue {
    color: blue;
    background-color: background
}
